/* Mudando a cor de fundo */
body {
    background-color: #edebe4; /* consegui capturar o rgb da página Sinonimos.com.br inspecionando ela */  
    font-family: Helvetica;
    font-size: 1.em;
    
    /* criando uma margem do site universal */
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
} 

#h-home {
    padding: 60px; /* criando aqui um espaçamento interno em 4 lados do box */
}

@media (min-width: 768px) {
    #container {
        width: calc(100% - 20px);
    }
}

#sinonimos-populares:after, #sinonimos-populares:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .row:after, .row:before, .share-btns:after, .share-btns:before, .sites:after, .sites:before, .wrapper:after, .wrapper:before {
    content: " ";
    display: table;
}

/* tudo que eu fizer aqui, cairá na classe que eu "titulo" dentro da divisão que eu criei no arquivo html */
#logo{ 
    font-size: 2.5em;
    color: #f75429;
}

#slogan { /* modificando o id slogan */
    color: #a59680;
    font-size: 1.2em;
    margin-top: 0px;
}